# Database Connection
DATABASE_URL=postgres://user:password@localhost:5432/finances

# PostgREST API URL (deployed)
VITE_APP_API_URL=https://your-api-url.com

# JWT Secret for PostgREST and Database
JWT_SECRET=supersecretjwtkey
